
body {
    margin: 0;
	
    text-align: center;
    background: green;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Open Sans', sans-serif;
	
    }    
    

.splash {
    background: pink;
    }


.title {
    color: yellow;
    font-size: 60px;
    margin: 48px 0 0 0;
    font-family: 'Open Sans', sans-serif;
    }
	
